.section-blog {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 200px auto;
}

.section-blog_guardar {
    display: flex;
    flex-direction: column;
}



.section-blog_guardar label {
    padding: 10px 0px;
}

.section-blog_guardar input {
    max-width: 200px;
    padding: 10px;
}

.section-blog_guardar button {
    max-width: 200px;
}


.section-blog_mostrar {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
}

